<script
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"
></script>
<script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart_expenses);
  function drawChart_expenses() {
  var expenses_data = google.visualization.arrayToDataTable([
  {% for key, value in expenses_data.items() %}
  {% if value is string %}
  ['{{ key }}', '{{ value }}'],
  {% else %}
  ['{{ key }}', {{ value }}],
  {% endif %}
  {% endfor %}
  ]);

  var total = google.visualization.data.group(expenses_data, [{
      type: 'boolean',
      column: 0,
      modifier: function () {return true;}
  }], [{
      type: 'number',
      column: 1,
      aggregation: google.visualization.data.sum
  }]);

  //data_2.addRow(['Total: ' + total.getValue(0, 1), 0]);

  var options_expenses = {
    title: 'Expenses from {% if start_date %} {{ start_date }} {% else %} the beginning {% endif %}'+
    ' to {% if end_date %} {{ end_date }} {% else %} now{% endif %}.'+
    '\nThe total value of expenses is {{ expenses_data_total|int }}.',
    titleTextStyle:{ bold: false, fontSize:18},
    width: '100%',
    height: '100%',
    sliceVisibilityThreshold: .0

  };

  var chart_expenses = new google.visualization.PieChart(document.getElementById('piechart_expenses'));
  chart_expenses.draw(expenses_data, options_expenses);
}
</script>
<script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart_incomes);
    function drawChart_incomes() {
    var incomes_data = google.visualization.arrayToDataTable([
    {% for key, value in incomes_data.items() %}
    {% if value is string %}
    ['{{ key }}', '{{ value }}'],
    {% else %}
    ['{{ key }}', {{ value }}],
    {% endif %}
    {% endfor %}
    ]);

    var total = google.visualization.data.group(incomes_data, [{
        type: 'boolean',
        column: 0,
        modifier: function () {return true;}
    }], [{
        type: 'number',
        column: 1,
        aggregation: google.visualization.data.sum
    }]);

    //data_2.addRow(['Total: ' + total.getValue(0, 1), 0]);

    var options_incomes = {
      title: 'Incomes from {% if start_date %} {{ start_date }} {% else %} the beginning {% endif %}'+
      ' to {% if end_date %} {{ end_date }} {% else %} now{% endif %}.'+
      '\nThe total value of expenses is {{ incomes_data_total|int }}.',
      titleTextStyle:{ bold: false, fontSize:18},
      width: '100%',
      height: '100%',
      sliceVisibilityThreshold: .0

    };

    var chart_incomes = new google.visualization.PieChart(document.getElementById('piechart_incomes'));
    chart_incomes.draw(incomes_data, options_incomes);
  }
</script>
<script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart_savings);
    function drawChart_savings() {
    var savings_data = google.visualization.arrayToDataTable([
    {% for key, value in savings_data.items() %}
    {% if value is string %}
    ['{{ key }}', '{{ value }}'],
    {% else %}
    ['{{ key }}', {{ value }}],
    {% endif %}
    {% endfor %}
    ]);

    var options_savings = {
      title: 'You are this close to reaching your goal!',
      titleTextStyle:{ bold: false,fontSize:18},
      width: '100%',
      height: '100%',
      sliceVisibilityThreshold: .05
    };

    var chart_savings = new google.visualization.PieChart(document.getElementById('piechart_savings'));
    chart_savings.draw(savings_data, options_savings);
  }
</script>

<style>
  #chart_wrap {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
  }

  #piechart_expenses,
  #piechart_incomes,
  #piechart_savings {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>


{% extends "base.html" %} 
{% set active_page = 'dashboard' %}
{% block title %}Dashboard{% endblock %} {% block
content %}
<br />
<h4 class="font-weight-bold" align="center">Welcome back, {{ current_user.first_name }}</h4>
<form id="form" method="POST">
  <div class="tab-wrap">
    <input
      type="radio"
      id="tab1"
      name="tabGroup1"
      class="tab"
      {%
      if
      tabs[0]
      %}
      checked
      {%
      endif
      %}
    />
    <label for="tab1">Expenses Analysis</label>

    <input
      type="radio"
      id="tab2"
      name="tabGroup1"
      class="tab"
      {%
      if
      tabs[1]
      %}
      checked
      {%
      endif
      %}
    />
    <label for="tab2">Incomes Analysis</label>

    <input
      type="radio"
      id="tab3"
      name="tabGroup1"
      class="tab"
      {%
      if
      tabs[2]
      %}
      checked
      {%
      endif
      %}
    />
    <label for="tab3">Savings Progress</label>

    <div class="tab__content">
      <div class="row align-items-center justify-content-start">
        <div class="col">
          <div id="chart_wrap">
            <div class="font-weight-normal" id="piechart_expenses"></div>
          </div>
        </div>
        <div class="col-md-4">
          <h5 align="center">Filter Data</h5>
          <br />
          <label for="start_date_expenses">Starting Date</label>
          <input
            type="date"
            name="start_date_expenses"
            autocomplete="on"
            {%
            if
            start_date
            %}
            value="{{ start_date }}"
            {%
            else
            %}
            id="1st"
            {%
            endif
            %}
            class="form-control"
          />
          <script>
            date = new Date();
            date.setDate(1);
            document.getElementById("1st").value = date
              .toISOString()
              .substring(0, 10);
          </script>
          <br />
          <label for="end_date_expenses">Ending Date</label>
          <input
            type="date"
            name="end_date_expenses"
            {%
            if
            end_date
            %}
            value="{{ end_date }}"
            {%
            else
            %}
            id="today"
            {%
            endif
            %}
            autocomplete="on"
            class="form-control"
          />
          <script>
            document.getElementById("today").value = new Date()
              .toISOString()
              .substring(0, 10);
          </script>
          <br />
          <div align="center">
            <button
              type="submit"
              value="1"
              name="filter_button"
              class="btn btn-primary"
            >
              Filter
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="tab__content">
      <div class="row align-items-center justify-content-start">
        <div class="col">
          <div id="chart_wrap">
            <div class="font-weight-normal" id="piechart_incomes"></div>
          </div>
        </div>
        <div class="col-md-4">
          <h5 align="center">Filter Data</h5>
          <br />
          <label for="start_date_incomes">Starting Date</label>
          <input
            type="date"
            name="start_date_incomes"
            autocomplete="on"
            {%
            if
            start_date
            %}
            value="{{ start_date }}"
            {%
            else
            %}
            id="1st1"
            {%
            endif
            %}
            class="form-control"
          />
          <script>
            date = new Date();
            date.setDate(1);
            document.getElementById("1st1").value = date
              .toISOString()
              .substring(0, 10);
          </script>
          <br />
          <label for="end_date_incomes">Ending Date</label>
          <input
            type="date"
            name="end_date_incomes"
            {%
            if
            end_date
            %}
            value="{{ end_date }}"
            {%
            else
            %}
            id="today1"
            {%
            endif
            %}
            autocomplete="on"
            class="form-control"
          />
          <script>
            document.getElementById("today1").value = new Date()
              .toISOString()
              .substring(0, 10);
          </script>
          <br />
          <div align="center">
            <button
              type="submit"
              value="2"
              name="filter_button"
              class="btn btn-primary"
            >
              Filter
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="tab__content">
      <div class="row align-items-center justify-content-start">
        <div class="col">
          <div id="chart_wrap">
            <div class="font-weight-normal" id="piechart_savings"></div>
          </div>
        </div>
        <div class="col-md-4">
          <h5 align="center">Savings Goal</h5>
          <br />
          <input
            type="text"
            name="goal"
            class="form-control"
            autocomplete="on"
            placeholder="Enter goal"
            {%
            if
            user.savings_goal
            %}
            value="{{ user.savings_goal }}"
            {%
            endif
            %}
          />
          <br />
          <div align="center">
            <button
              type="submit"
              value="3"
              name="filter_button"
              class="btn btn-primary"
            >
              Change
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-wrap">
    <input type="radio" id="tab" name="tabGroup2" class="tab" checked />
    <label for="tab">Notes</label>
    <div class="tab__content">
      <div class="row" style="word-wrap: break-word">
        <div
          class="container-fluid"
          style="overflow: auto; max-height: 200px"
        >
          <ul class="list-group">
            {% for note in user.notes|sort(reverse=true, attribute='date') %}
            <li class="list-group-item">
              {{ note.data }}
              <button
                type="button"
                class="close"
                onClick="deleteNote({{ note.id }})"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="container-fluid">
          <textarea
            name="note"
            class="form-control"
            placeholder="Enter note"
          ></textarea>
        </div>
      </div>
      <br />
      <div class="row justify-content-center">
        <button type="submit" class="btn btn-primary">Add Note</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}
