{% extends "action.html" %} 
{% block title %}Incomes{% endblock %} 
{% block h3 %}The list of Incomes{% endblock %}
{% block table_head %}
<tr>
  <th>Amount</th>
  <th>Tag</th>
  <th>Date</th>
  <th class="invisible-col"></th>
</tr>
{% endblock %} 
{% block list %} 
{% for income in user.incomes|sort(reverse=true, attribute='date') %}
<tr>
  <td>
    {{ income.value }}
  </td>
  <td>
    {% for itag in user.itags %} 
    {% if itag.id == income.tag_id %} 
    {{ itag.data }} 
    {% endif %} 
    {% endfor %}
  </td>
  <td>
    {{ income.date }}
  </td>
  <td>
    <button type="button" class="close" onClick="deleteIncome({{ income.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </td>
</tr>
{% endfor %} 
{% endblock %} 
{% block tag %}
<div class="form-group col">
  <label for="tag">Tag <a href="/itags">Edit</a></label>
  <select name="tag" class="form-control">
    {% for itag in user.itags %}
    <option>{{itag.data}}</option>
    {% endfor %} 
  </select>
</div>
{% endblock %}
{% block button %}Income{% endblock %}
