{% extends "action.html" %} 
{% block title %}Savings{% endblock %} 
{% block h3 %}Savings{% endblock %}
{% block table_head %}
<tr>
  <th>Amount</th>
  <th>Date</th>
  <th class="invisible-col"></th>
</tr>
{% endblock %} 
{% block list %} 
{% for saving in user.savings|sort(reverse=true, attribute='date') %}
<tr>
  <td>
    {{ saving.value }}
  </td>
  <td>
    {{ saving.date }}
  </td>
  <td>
    <button type="button" class="close" onClick="deleteSaving({{ saving.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </td>
</tr>
{% endfor %} 
{% endblock %} 
{% block button %}Saving{% endblock %}
