{% extends "base.html" %} {%block content %}
<br />
<h4 class="font-weight-bold" align="center">{% block h3 %}{% endblock %}</h4>
<div class="container-fluid" style="overflow: auto; max-height: 330px;">
  <ul class="list-group">
    {% block list %}{% endblock %}
  </ul>
</div>
<br />
<form method="POST">
  <div class="form-row">
    <label for="data">Tag</label>
    <input
      type="text"
      name="data"
      class="form-control"
      placeholder="Enter tag"
    />
  </div>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Tag</button>
  </div>
</form>
{% endblock %}
